<body class="bg-gray-50 dark:bg-slate-900">
  <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto my-4 sm:my-10">
    <div class="sm:w-11/12 lg:w-3/4 mx-auto">
      <div class="flex flex-col p-4 sm:p-10 bg-white shadow-md rounded-xl">
        <div class="flex justify-between">
          <div>
            <%= image_tag("icons_svg/3d_storm_large_logo.svg", class:"w-20") %>
          </div>

          <div class="text-end">
            <h2 class="font-semibold text-2xl text-gray-300">Рахунок на оплату №</h2>
            <span class="mt-1 block text-gray-500"><%= manual_order.print_code %></span>

            <address class="mt-4 not-italic text-gray-800 text-xs">
              <span class="font-semibold">ФОП Шелест Антон Ігорович</span><br>
              <span class="font-semibold">п/р UA773052990000026009015513274</span> у банку<br> 
              АТ КБ "ПРИВАТБАНК" МФО 305299<br>
              тел.: +38(068)-748-33-87<br>
              код за ЄДРПОУ <span class="font-semibold">3481412698</span><br>
            </address>
          </div>
        </div>
        <div class="mt-8 grid sm:grid-cols-2 gap-3">
          <div>
            <h3 class="text-gray-500 text-lg">Покупець:</h3>
            <h3 class="text-gray-700 text-lg"><%= manual_order.full_name %></h3>
          </div>

          <div class="sm:text-end space-y-2">
            <div class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">
              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-500">Дата рахунку:</dt>
                <dd class="col-span-2 text-gray-500"><%= l(manual_order.end_date, format: :custom_datetime) %></dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <div class="border-1 border-solid p-4 rounded-lg space-y-4">
            <div>
              <div class="hidden sm:grid sm:grid-cols-6">
                <div class="sm:col-span-2 text-xs font-semibold text-gray-500 uppercase">Товари (послуги)</div>
                <div class="text-start text-xs font-semibold text-gray-500 uppercase">Кількість</div>
                <div class="text-start text-xs font-semibold text-gray-500 uppercase">Од.</div>
                <div class="text-end text-xs font-semibold text-gray-500 uppercase">Ціна</div>
                <div class="text-end text-xs font-semibold text-gray-500 uppercase">Сума</div>
              </div>
            </div>

            <div class="hidden sm:block border-b border-gray-200 dark:border-gray-700"></div>

            <div class="grid grid-cols-3 sm:grid-cols-6 gap-2">
              <div class="col-span-full sm:col-span-2">
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Item</h5>
                <p class="font-medium text-gray-500">Design UX and UI</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Qty</h5>
                <p class="text-gray-500">1</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Rate</h5>
                <p class="text-gray-500">5</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Amount</h5>
                <p class="sm:text-end text-gray-500">UAH 500</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Amount</h5>
                <p class="sm:text-end text-gray-500">UAH 500</p>
              </div>
            </div>


            <div class="sm:hidden border-b border-gray-200 dark:border-gray-700"></div>
          </div>
        </div>
        <div class="mt-8 flex sm:justify-end">
          <div class="w-full max-w-2xl sm:text-end space-y-2">
            <div class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-500">Загальна сума:</dt>
                <dd class="col-span-2 text-gray-500">UAH <%= manual_order.total_price %></dd>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-500">Комісія:</dt>
                <dd class="col-span-2 text-gray-500">UAH 0.00</dd>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-500">Всього до оплати:</dt>
                <dd class="col-span-2 text-gray-800">UAH <%= manual_order.total_price %></dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="mt-8 sm:mt-12">
          <h4 class="text-lg text-gray-300">Дякуємо за замовлення!</h4>
          <p class="text-gray-500">Якщо у вас виникли запитання щодо цього рахунку-фактури, скористайтеся контактною інформацією:</p>
          <div class="mt-2">
            <p class="block text-sm font-medium text-gray-800 dark:text-gray-200"><a href="mailto: 3d.storm.des@gmail.com" class="text-gray-500">3d.storm.des@gmail.com</a></p>
            <p class="block text-sm font-medium text-gray-800 dark:text-gray-200 "><span class="text-gray-500">+380 (096) 640 40 50</span></p>
          </div>
        </div>

        <p class="mt-5 text-sm text-gray-800">Увага! У призначенні платежу слід вказати:</p>
        <p class="text-sm text-gray-800 text-xs">За товар згідно рахунку № <%= manual_order.print_code %> від <%= l(manual_order.end_date, format: :custom_datetime) %>. Одержувач: <%= manual_order.full_name %></p>
        <p class="mt-5 text-sm text-gray-500"><%= "© #{Time.zone.now.year}" + t('global.footer.law') %></p>
      </div>
    </div>
  </div>
</body> 