<%= turbo_frame_tag :home_info, src: static_pages_home_lazy_path, loading: :lazy do %>
  <div class="w-full max-w-screen-2xl mx-auto px-7 md:px-16 lg:px-24">
    <div class="h-screen flex flex-col justify-center items-center">
      <div class="w-full text-center mt-0 md:mt-10 flex justify-center">
        <div class="lazy-animation w-1/2">
          <div class="h-3 bg-stone-300 col-span-4 w-28 inline-flex"></div>

          <div class="space-y-3">
            <div class="grid grid-cols-4 gap-4">
              <div class="h-5 bg-stone-300 col-span-2"></div>
              <div class="h-5 bg-stone-300 col-span-1"></div>
              <div class="h-5 bg-stone-300 col-span-1"></div>
            </div>
            <div class="h-3 bg-stone-300"></div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-4/5 mx-auto lg:pr-12 pt-8">
        <div class="wrapper lazy-animation flex justify-center">
          <div class="flex items-center justify-center w-[400px] h-[400px] mb-4 bg-stone-300 rounded-3xl dark:bg-stone-300">
            <svg class="w-20 h-20 dark:text-stone-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
              <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"/>
              <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-3">
      <div class="lazy-animation">
        <div class="h-3 bg-stone-300 col-span-4 w-28 inline-flex"></div>
      </div>
    </div>
    <div class="w-full lg:w-2/4 mt-[72px] mb-[72px] md:mb-[136px] mx-auto text-gray-100 text-center">
      <%= render "shared/long_placeholder" %>
    </div>
  </div>
  <div class="w-full max-w-screen-2xl mx-auto px-7 md:px-16 lg:px-24 flex flex-col  md:flex-row mb-20 md:mb-28 gap-6 justify-between items-center">
    <div class="lazy-animation w-full lg:w-1/3 h-32 md:h-48 lg:h-64 block rounded-3xl bg-stone-300 relative shadow-gray-300">
      <div class="wrapper flex justify-center">
        <div class="flex items-center justify-center mb-4 bg-stone-300 rounded-3xl dark:bg-stone-300 w-full lg:w-1/3 h-32 md:h-48 lg:h-64  relative">
          <svg class="w-20 h-20 dark:text-stone-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
            <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"/>
            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="lazy-animation w-full lg:w-1/3 h-32 md:h-48 lg:h-64 block rounded-3xl bg-stone-300 relative shadow-gray-300">
      <div class="wrapper flex justify-center">
        <div class="flex items-center justify-center mb-4 bg-stone-300 rounded-3xl dark:bg-stone-300 w-full lg:w-1/3 h-32 md:h-48 lg:h-64  relative">
          <svg class="w-20 h-20 dark:text-stone-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
            <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"/>
            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="lazy-animation w-full lg:w-1/3 h-32 md:h-48 lg:h-64 block rounded-3xl bg-stone-300 relative shadow-gray-300">
      <div class="wrapper flex justify-center">
        <div class="flex items-center justify-center mb-4 bg-stone-300 rounded-3xl dark:bg-stone-300 w-full lg:w-1/3 h-32 md:h-48 lg:h-64  relative">
          <svg class="w-20 h-20 dark:text-stone-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
            <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"/>
            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <% if policy(:admin).admin_only_access? %>
    <div class="w-full min-h-[673px] sm:min-h-[833px] relative flex flex-col md:flex-end items-center py-20 md:py-28 bg-dark-blue overflow-hidden">
      <div class="w-full max-w-screen-2xl mx-auto pl-7 pr-7 md:pr-0 md:pl-24 relative z-20">
        <div class="w-1/3">
          <%= render "shared/title_placeholder" %>
        </div>

        <div class="w-1/3">
          <%= render "shared/long_placeholder" %>
        </div>
        <div class="flex flex-col items-start justify-start">

          <div class="w-1/6 flex items-center mt-3">
            <div class="lazy-animation w-1/2">
              <div class="h-3 bg-stone-300 col-span-4 w-28 inline-flex"></div>
            </div>
          </div>
          <div class="w-1/6 flex items-center mt-3">
            <div class="lazy-animation w-1/2">
              <div class="h-3 bg-stone-300 col-span-4 w-28 inline-flex"></div>
            </div>
          </div>
          <div class="w-1/6 flex items-center mt-3">
            <div class="lazy-animation w-1/2">
              <div class="h-3 bg-stone-300 col-span-4 w-28 inline-flex"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute bottom-0 md:-bottom-12 -right-24 md:right-0 w-1/2">
        <div class="lazy-animation block rounded-3xl bg-stone-300 relative">
          <div class="wrapper h-[544px] flex justify-center">
            <div class="flex mt-24 items-center justify-center mb-4 bg-stone-300 rounded-3xl dark:bg-stone-300 w-full lg:w-1/3 h-32 md:h-48 lg:h-64  relative">
              <svg class="w-20 h-20 dark:text-stone-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"/>
                <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="w-full relative flex flex-col md:flex-end items-center py-20 md:py-28 overflow-hidden">
    <div class="w-full max-w-screen-2xl mx-auto pl-7 pr-7 md:pr-0 md:pl-24 relative z-20">
      <div class="w-1/3">
        <%= render "shared/title_placeholder" %>
      </div>
    </div>

    <div class="carousel-grid">
      <ul class="carousel-list">
        <% 16.times do %>
          <li class="carousel-item">
            <div class="lazy-animation w-full h-32 md:h-48 lg:h-64 block rounded-3xl bg-stone-300 relative shadow-gray-300">
              <div class="wrapper flex justify-center">
                <div class="flex items-center justify-center mb-4 bg-stone-300 rounded-3xl dark:bg-stone-300 w-full lg:w-1/3 h-32 md:h-48 lg:h-64  relative">
                  <svg class="w-20 h-20 dark:text-stone-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                    <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"/>
                    <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
                  </svg>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="w-full bg-dark-blue">
    <%= render partial: "question_form" %>
  </div>
<% end %>
