<%= turbo_frame_tag "edit_password" do %>
  <%= form_with model: [@user], url: update_password_path do |f| %>
    <div class="block md:flex items-center justify-between mt-12">
      <div class="flex items-center">
        <div class="w-6 h-6">
          <%= image_tag("partials_img/lock.png") %>
        </div>
        <div class="ml-2 text-dark-grey text-base font-medium">
          <%= t("dredd.user_profile.password") %>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-2 mt-4 md:mt-0">
        <%= f.submit t("dredd.manual_orders.save"),
          class: "w-full md:w-[100px] h-8 flex items-center justify-center px-4 py-1.5 bg-primary uppercase text-sm text-metalic-grey font-semibold rounded-lg border-0"
          %>

          <%= link_to t("dredd.user_profile.cancel"), profile_path,
            class: "w-full md:w-[100px] h-8 flex items-center justify-center px-4 py-1.5 bg-transparent uppercase text-sm text-metalic-grey font-semibold border-2 border-solid border-metalic-grey rounded-lg"
            %>
      </div>
    </div>
    <div class="mt-3 mb-2 w-full h-px bg-gray-400"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-16">
      <div>
        <%= f.label :password, t("devise.passwords.edit.label"), class:"text-xs text-metalic-grey" %>
          <%= f.text_field :password, autofocus: true, autocomplete: "new-password" , class:"mt-1 w-full text-base
            font-medium" %>
            <%= inline_error_for(:password, @user) %>
      </div>

      <div>
        <%= f.label :password_confirmation, t("devise.passwords.edit.labelsecond"), class:"text-xs text-metalic-grey" %>
          <%= f.text_field :password_confirmation, autocomplete: "new-password" , class:"mt-1 w-full text-base
            font-medium" %>
            <%= inline_error_for(:password_confirmation, @user) %>
      </div>
    </div>
    <% end %>
      <% end %>
