
<%= turbo_frame_tag @user do %>
  <h1 class="title">Personal Data</h1>
  <%= form_with model: [@user], url: profile_path do |f| %>
    <div class="mt-5">
      <%= f.label :password, t("devise.passwords.edit.label"), class:"text-sm" %>
      <div>
        <%= f.text_field :password, autofocus: true, autocomplete: "new-password" %>
        <%= inline_error_for(:password, @user) %>
      </div>
    </div>

    <div class="mt-5">
    <%= f.label :password_confirmation,  t("devise.passwords.edit.labelsecond"), class:"text-sm" %>
      <%= f.text_field :password_confirmation, autocomplete: "new-password" %>
      <%= inline_error_for(:password_confirmation, @user) %>
    </div>
    <div class="mt-5">
      <%= f.submit t("devise.passwords.edit.button"), class: "button w-full" %>
    </div>
  <% end %>
<% end %>
