<%= render partial: "dredd/shared/errors", locals: { resource: @manual_order } %>
<%= form_with model: [:dredd, @manual_order], class: "form-grid-single" do |form| %>
   <div class="form-grid-single w-10/12">
    <div class="flex space-x-4">
      <div class="form-group">
        <%= form.label :first_name, class: "form-label" %>
        <%= form.text_field :first_name, placeholder: "Please input" %>
      </div>
      <div class="form-group">
        <%= form.label :last_name, class: "form-label" %>
        <%= form.text_field :last_name, placeholder: "Please input" %>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="form-group">
        <%= form.label :phone_number, class: "form-label" %>
        <%= form.text_field :phone_number, placeholder: "Please input" %>
      </div>
      <div class="form-group">
        <%= form.label :app_contact, class: "form-label" %>
        <%= form.select :app_contact, options_for_select(ManualOrder.app_contacts.keys.map {|k, v| [k.humanize.capitalize, k] }, selected: form.object.app_contact ) %>
      </div>
      <div class="form-group">
        <%= form.label :email, class: "form-label" %>
        <%= form.text_field :email, placeholder: "Please input" %>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="form-group">
        <%= form.label :price_for_modeling, class: "form-label" %>
        <%= form.text_field :price_for_modeling, placeholder: "Please input" %>
      </div>
      <div class="form-group">
        <%= form.label :price_for_printing, class: "form-label" %>
        <%= form.text_field :price_for_printing, placeholder: "Please input" %>
      </div>
      <div class="form-group">
        <%= form.label :count, class: "form-label" %>
        <%= form.text_field :count, placeholder: "Please input" %>
      </div>
      <div class="form-group">
        <%= form.label :prepaid_expense, class: "form-label" %>
        <%= form.text_field :prepaid_expense, placeholder: "Please input" %>
      </div>
      <div class="form-group">
        <%= form.label :total_price, class: "form-label" %>
        <%= form.text_field :total_price, placeholder: "Please input" %>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="form-group">
        <%= form.label :print_material, class: "form-label" %>
        <%= form.select :print_material, ApplicationHelper::MATERIALS, { include_blank: "---Select---" } %>
      </div>
      <div class="form-group">
        <%= form.label :print_color, class: "form-label" %>
        <%= form.select :print_color, ManualOrder::PRINTING_COLORS, { include_blank: "---Select---" } %>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="form-group form-toggle">
        <%= form.label :status, as: "Status", class: "toggle-switch-label" %>
        <label class="toggle-switch ml-3">
          <%= form.check_box(:status, { class: "ml-3", type: "checkbox" }, "done", "not_done") %>
          <span class="slider"></span>
        </label>
      </div>
      <div class="form-group">
         <%= form.label :deadline, class: "form-label" %>
         <%= form.date_field :deadline %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :comment, class: "form-label" %>
      <%= form.text_area :comment, placeholder: "Please input", class: "w-full p-2" %>
    </div>
    <div class="form-group">
      <%= form.submit "Save", class: "button w-full md:max-w-[212px]" %>
    </div>
  </div>
<% end %>