<div class="lg:px-24 max-w-screen-2xl mt-16 mx-auto w-full">
  <div class="mt-9">
    <%= link_to dredd_manual_orders_path, class: "back-btn text-black" do %>
      <div class="button-text flex">
        <%= image_tag("icons_svg/chevron-left.svg", class: "h-5")%>
        <%= t('.back') %>
      </div>
    <% end %>
    <div class="flex font-medium space-x-3 text-2xl">
      <h2><%= t("dredd.manual_orders.edit") %></h2>
      <h2><%= @manual_order.print_code %></h2>
    </div>
    <%= render partial: 'form', locals: { manual_order: @manual_order } %>
  </div>
</div>
