<div class="lg:px-24 max-w-screen-2xl mt-16 mx-auto w-full">
  <div class="mt-9">
    <div class="text-2xl font-medium">
      <h2><%= @manual_order.print_code %></h2>
    </div>
    </br>
    </br>
    <div class="form-grid-single">
      <div class="form-grid-single w-10/12">
        <h3 class="text-heading-4">Client Contacts</h3>
        <div class="flex space-x-4">
          <div class="form-group">
            <p class="font-semibold">
              <%= @manual_order.full_name %>
            </p>
          </div>
          <div class="form-group">
            <p class="font-semibold">
              <%= @manual_order.phone_number %>
            </p>
          </div>
          <div class="form-group">
            <%= image_tag("partials_img/#{app_icon_contact(@manual_order.app_contact)}.png", class: "w-8") %>
          </div>
          <div class="form-group">
            <p class="font-semibold">
              <%= @manual_order.email.presence || "-" %>
            </p>
          </div>
        </div>
        <h3 class="text-heading-4">Printing Information</h3>
        <div class="flex">
          <div class="form-group">
            <p class="font-semibold">
              <%= @manual_order.print_material.presence || "-" %>
            </p>  
          </div>
          <div class="form-group">
            <p class="font-semibold">
              <%= @manual_order.print_color.presence || "-" %>
            </p>  
          </div>
          <div class="form-group">
            <p class="font-semibold">
              <% if @manual_order.printed_on_printers.present? %>
                <%= get_selected_printers_names(@manual_order) %>
              <% else %>
                -
              <% end %>
            </p>  
          </div>
          <div class="form-group">
            <p class="font-semibold">
              <%= @manual_order.printing_time_for_one_item.presence || "-" %>
            </p>  
          </div>
        </div>
        <h3 class="text-heading-4">Price Information</h3>
        <div class="flex space-x-4">
          <div class="form-group">
            <p class="font-semibold">
              ₴ <%= @manual_order.price_for_modeling.presence || "-" %>
            </p>
          </div>
          <div class="form-group">
            <p class="font-semibold">
               ₴ <%= @manual_order.price_for_printing.presence || "-" %>
            </p>
          </div>
          <div class="form-group">
            <p class="font-semibold">
               ₴ <%= @manual_order.count.presence || "-" %>
            </p>
          </div>
          <div class="form-group">
            <p class="font-semibold">
               ₴ <%= @manual_order.prepaid_expense.presence || "-" %>
            </p>
          </div>
          <div class="form-group">
            <p class="font-semibold">
               ₴ <%= @manual_order.total_price %>
            </p>
          </div>
        </div>
        <h3 class="text-heading-4">Manual Order information</h3>
        <div class="flex space-x-4">
          <div class="form-group">
            <p class="font-semibold">
              <%= image_tag("partials_img/#{order_status_icon(@manual_order)}.png", class: "w-8") %>
            </p>
          </div>
          <div class="form-group">
            <p class="font-semibold">
              <% if @manual_order.deadline.present? %>
                <%= l(@manual_order.deadline, format: :long) %>
              <% else %>
                -
              <% end %>
            </p>
          </div>
        </div>
        <h3 class="text-heading-4">Comments</h3>
        <div class="flex">
          <div class="form-group">
            <p class="font-semibold">
              <%= @manual_order.comment.presence || "-" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>