<%= content_tag :div, class: "", id: dom_id(cart_item) do %>
  <%= content_tag :div, class: "flex justify-between items-center relative" do %>
    <div class="flex">
      <div class="my-auto h-4">
        <%= button_to carts_remove_path(cart_item: cart_item), data: { "turbo-method": :delete }, method: :delete, remote: true do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" stroke="#6E7579" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        <% end %>
      </div>

      <% if cart_item.cartable.is_a?(Product) %>
        <div class="w-16 h-16 bg-dark-blue ml-2 flex shrink-0 justify-center items-center rounded-[10px]">
          <%= image_tag(url_for(cart_item.cartable.main_picture), class: "w-auto h-full") %>
        </div>
      <% end %>

      <% if cart_item.cartable.is_a?(PrintModelAttribute) %>
        <div class="w-16 h-16 ml-2 flex shrink-0 justify-center items-center rounded-[10px]">
          <%= image_tag('shop_img/stl_logo.png', class: "w-auto h-full") %>
        </div>
      <% end %>

      <div class="flex flex-col justify-between ml-3 pb-0.5">
        <h6 class="w-full max-w-[200px] clamp-two-lines text-sm text-dark-blue font-medium">
          <%= cart_item.cartable.name %>
        </h6>
        <div class="flex items-center">
          <% if cart_item.cartable.is_a?(Product) %>
            <% if cart_item.cart_item_option_values.any? %>
              <div class="w-[16px] h-[16px] md:w-[22px] md:h-[22px]
                          rounded-full border-[0.2px] border-solid border-gray-100"
                          style="background-color: <%= cart_item.cart_item_option_values.first.product_option_value.option_value.value %>">
              </div>
              <p class="text-sm text-dark-blue ml-2">
                <%= cart_item.cart_item_option_values.last.selected_option_value %>
              </p>
            <% end %>
          <% elsif cart_item.cartable.is_a?(PrintModelAttribute) %>
            <div class=" w-[16px] h-[16px] md:w-[22px] md:h-[22px] rounded-full border-[0.2px] border-solid border-gray-100" style="background-color: <%= "##{cart_item.cartable.color}" %>"></div>
            <p class="text-sm text-dark-blue ml-2">
              <%= cart_item.cartable.quality %> <%= t("cart.item_line.micron") %>, <%= cart_item.cartable.material.upcase %> <%= t("cart.item_line.material") %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-full max-w-[75px] flex flex-col justify-between text-gray-800 font-medium">
      <%= render partial: "cart/cart_item_total", locals: { cart_item: cart_item } %>
      <div class="w-full h-4 flex justify-end items-center mt-6">
        <%= link_to update_quantity_carts_cart_item_path(cart_item, operation: "-"), data: { "turbo-method": :patch }, remote: true do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" stroke="#6E7579" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"/>
          </svg>
        <% end %>
        <p class="text-sm text-dark-grey px-1"><%= render partial: "cart/item_quantity", locals: { cart_item: cart_item } %>x</p>
        <%= link_to update_quantity_carts_cart_item_path(cart_item, operation: "+"), data: { "turbo-method": :patch }, remote: true do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" stroke="#6E7579" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="w-full h-px bg-light-grey my-4"></div>
<% end %>
