<%= turbo_stream_from current_cart %>
<div class="w-screen md:w-[28rem] h-screen bg-white shadow-lg shadow-gray-600 fixed right-0 top-0 py-6 px-4 md:pl-6 md:pr-5 z-50">
  <div class="absolute top-5 right-5 flex items-center">
    <%= button_to destroy_all_carts_remove_path, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, method: :delete, remote: true do %>
      <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 19.1429C6 20.1643 6.9 21 8 21H16C17.1 21 18 20.1643 18 19.1429V8H6V19.1429ZM8 10H16V19H8V10ZM15.5 5L14.5 4H9.5L8.5 5H5V7H19V5H15.5Z" fill="#6E7579"/>
      </svg>
    <% end %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-4 cursor-pointer mt-[2px]" fill="none" viewBox="0 0 24 24" stroke="#6E7579">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
    </svg>
  </div>
  <div class="flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="#2A343E">
      <path stroke-linecap="round" stroke-line="stroke-line" join="round" stroke-width="2" d="M9 5l7 7-7 7"/>
    </svg>
    <h4 class="text-base text-dark-grey font-medium capitalize ml-2">
      <%= t("cart.side_bar_cart.basket") %>
    </h4>
  </div>
  <%= render partial: "cart/empty_cart_body" %>
  <div id="cart_item" class="basket-sidebar order-wrapper mt-8 overflow-y-auto pr-4">
    <% current_cart.cart_items.each do |cart_item| %>
      <%= render partial: "cart/item_line", locals: { cart_item: cart_item } %>
    <% end %>
  </div>
  <%= render partial: "cart/cart_footer_action" %>
</div>
