<tr>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    #<%= user.id %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= user&.full_name %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= user.phone %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= user.email %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= l(user.created_at, format: :long)  %>
  </td>
</tr>
