<div class="w-full max-w-screen-3xl mx-auto px-7 md:px-16 lg:px-24 mt-20">
  <div class="mt-4 overflow-x-auto">
    <div class="w-full text-sm text-left text-gray-700 dark:text-gray-400 border-1 border-solid rounded">
      <div class="flex flex-row items-center justify-between text-xs text-gray-700 uppercase border-b-1 border-solid">
        <p class="w-1/8 px-4 py-3">
          <%= t("dredd.users.id") %>
        </p>
        <p class="w-1/6 px-4 py-3">
          <%= t("dredd.users.first_name") %>
        </p>
        <p class="w-1/6 px-4 py-3">
          <%= t("dredd.users.last_name") %>
        </p>
        <p class="w-1/6 px-4 py-3">
          <%= t("dredd.users.phone") %>
        </p>
        <p class="w-1/6 px-4 py-3">
          <%= t("dredd.users.email") %>
        </p>
        <p class="w-1/6 px-4 py-3">
          <%= t("dredd.users.created_at") %>
        </p>
        <p class="w-1/8 px-4 py-3">
          <%= t("dredd.users.actions") %>
        </p>
      </div>
      <h1 class="pl-10"><%= t("dredd.users.admins") %></h1>
      <%= render partial: "dredd/users/user", collection: @admins %>

      <h1 class="pl-10 pb-6"><%= t("dredd.users.customers") %></h1>
      <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
      <div id="users" class="border-b">
        <%= render partial: "dredd/users/user", collection: @customers %>
      </div>
    </div>
  </div>
  <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
</div>
