<div class="hidden" data-tabs-target="panel">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div>
      <h2 class="text-dark-blue text-2xl lg:text-4xl leading-7 lg:leading-10 font-medium">
        Digital Light Processing (DLP)
      </h2>
      <p class="mt-4 md:mt-10 text-dark-blue text-lg lg:text-[22px] font-semibold leading-7">
        <%= t("static_pages.printing.dlp_description") %>
      </p>
    </div>
    <div class="mx-auto my-4 md:my-0 w-5/6 md:w-full">
      <%= image_tag("icons_svg/dlp_printer.svg", class:'mx-auto') %>
    </div>
    <div class="hidden lg:block">
      <p class="p-4 bg-white bg-opacity-50 rounded-2xl text-dark-blue">
        <%= t("static_pages.printing.dlp_tag_1") %>
      </p>
      <p class="mt-2 p-4 bg-white bg-opacity-50 rounded-2xl text-dark-blue">
        <%= t("static_pages.printing.dlp_tag_2") %>
      </p>
      <p class="mt-2 p-4 bg-white bg-opacity-50 rounded-2xl text-dark-blue">
        <%= t("static_pages.printing.dlp_tag_3") %>
      </p>
    </div>
  </div>
  <div data-controller="selected-material-and-price" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-16 mt-6 items-end">
    <div>
      <label for="material" class="block text-sm font-medium text-metalic-grey">
        <%= t("static_pages.printing.material") %>
      </label>
      <%= select_tag(:material, options_for_select(dlp_material_for_select), 
                                class: "mb-6 bg-gray-50 border border-gray-300 text-dark-blue text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5",
                                data: {
                                  action: "change->selected-material-and-price#changeDlp",
                                })
      %>
      <label for="table" class="block text-sm font-medium text-metalic-grey">
        <%= t("static_pages.printing.quality") %>
      </label>
      <%= turbo_frame_tag :printing_dlp_25 do %>
        <%= render partial: "static_pages/printing/dlp_table_quality", locals: { quality: '25', quality_mm: '0,25' } %>
      <% end %>
    </div>
    <%= turbo_frame_tag :printing_dlp_35 do %>
      <%= render partial: "static_pages/printing/dlp_table_quality", locals: { quality: '35', quality_mm: '0,35' } %>
    <% end %>
    <%= turbo_frame_tag :printing_dlp_50 do %>
      <%= render partial: "static_pages/printing/dlp_table_quality", locals: { quality: '50', quality_mm: '0,50' } %>
    <% end %>
  </div>
</div>
