<div class=" w-full max-w-screen-2xl mx-auto px-7 md:px-24 mt-9 mb-10 text-dark-grey">
  <div class="mt-9">
    <div class="text-2xl font-medium">
      <h2><%= t("devise.registrations.edit.title") %>
        <%= resource_name.to_s.humanize %></h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="w-full md:max-w-[436px] mt-8">
        <div class="w-full field">
          <div class="mt-1">
            <%= f.label :email, class: "text-sm" %>
          </div>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "example@email.com"  %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t("devise.registrations.edit.confirmation") %>
            <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="w-full field mt-0 md:mt-5">
          <div class="mt-1">
            <%= f.label :password, class: "text-sm" %>
            <i class="text-xs"><%= t("devise.registrations.edit.leave") %></i>
          </div>
          <div class="relative mt-1" data-controller="password-visibility">
            <%= f.password_field :password, data: { "password-visibility-target": "input"}, spellcheck: "false", autocomplete: "new-password", class: "w-full pr-10 rounded", placeholder: t("devise.registrations.new_password") %>
            <button type="button" data-action="password-visibility#toggle" class="absolute top-8 right-2">
              <span data-password-visibility-target="icon">
                <%= image_tag("icons_svg/eye_hide_password_icon.svg", class: "w-6 h-6 fill-metalic-grey") %>
              </span>
              <span data-password-visibility-target="icon" class="hidden">
                <%= image_tag("icons_svg/eye_show_password_icon.svg", class: "w-6 h-6 fill-metalic-grey") %>
              </span>
            </button>
            <% if @minimum_password_length %>
              <em class="text-xs"><%= @minimum_password_length %>
                <%= t("devise.registrations.edit.min") %></em>
            <% end %>
          </div>
        </div>
        <div class="w-full field mt-1 md:mt-5">
          <div class="mt-1">
            <%= f.label :password_confirmation, class:"text-sm" %>
          </div>
          <div class="relative mt-1" data-controller="password-visibility">
          <%= f.password_field :password_confirmation, data: { "password-visibility-target": "input"}, spellcheck: "false", autocomplete: "new-password", placeholder: t("devise.passwords.edit.labelsecond"), class:"pr-10" %>
            <button type="button" data-action="password-visibility#toggle" class="absolute top-8 right-2">
              <span data-password-visibility-target="icon">
                <%= image_tag("icons_svg/eye_hide_password_icon.svg", class: "w-6 h-6 fill-metalic-grey") %>
              </span>
              <span data-password-visibility-target="icon" class="hidden">
                <%= image_tag("icons_svg/eye_show_password_icon.svg", class: "w-6 h-6 fill-metalic-grey") %>
              </span>
            </button>

          </div>
        </div>
        <div class="w-full field mt-1 md:mt-5">
          <div class="mt-1">
            <%= f.label :first_name, t("devise.registrations.first_name"), class:"text-sm" %>
          </div>
          <div class="mt-1">
            <%= f.text_field :first_name, placeholder: t("devise.registrations.new.input") %>
            <%= inline_error_for(:first_name, resource) %>
          </div>
        </div>
        <div class="w-full field mt-1 md:mt-5">
          <div class="mt-1">
            <%= f.label :last_name, t("devise.registrations.last_name"), class:"text-sm" %>
          </div>
          <div class="mt-1">
            <%= f.text_field :last_name, placeholder: t("devise.registrations.new.input") %>
            <%= inline_error_for(:last_name, resource) %>
          </div>
        </div>
        <div class="w-full field mt-1 md:mt-5">
          <div class="mt-1">
            <%= f.label :current_password, class: "text-sm" %>
            <i class="text-xs"><%= t("devise.registrations.edit.confirm") %></i>
          </div>
          <div class="mt-1">
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: t("devise.registrations.existing_password") %>
          </div>
        </div>
        <div class="mt-[20px] mb-4">
          <%= f.submit t("devise.registrations.update"), class: "button w-full md:max-w-[212px]", data: { turbo: false } %>
        </div>
        <div class="content-divider"></div>
      </div>
    <% end %>
    <div class="w-full flex items-center [&>*:nth-child(odd)]:mr-8">
      <%= render "devise/shared/links" %>
      <%= link_to t("devise.registrations.back"), :back, class: "link" %>
    </div>
    <div class="mt-8">
      <h2 class="text-2xl"><%= t("devise.registrations.edit.cancel") %></h2>
      <div class="flex items-center mt-4">
        <p class="mr-2"><%= t("devise.registrations.edit.unhap") %></p>
        <div>
          <%= button_to t("devise.registrations.edit.cancel"), registration_path(resource_name), data: { turbo_confirm: t("devise.registrations.edit.sure") }, method: :delete , class: "font-bold text-metalic-grey" %></div>
      </div>
    </div>
  </div>
</div>
