<div class="auth-wrapper">
  <%= image_tag("auth_img/auth_bg.png", class:"hidden lg:block w-screen h-screen bg-cover bg-center absolute top-0 left-0 blur-sm") %>
  <div class="w-full h-full lg:h-screen text-dark-grey relative z-20 flex flex-col lg:flex-row items-start lg:items-center  justify-center lg:justify-between">
    <div class="w-full h-14 lg:w-6/12 lg:h-full relative">
      <%= image_tag("icons_svg/3d_storm_large_logo.svg", class:"w-20 h-20 lg:w-28 lg:h-28 absolute -top-3 lg:-top-[10px] left-[50%] -translate-x-[50%] lg:translate-x-0 lg:top-[40%] lg:left-[48%]") %>
    </div>
    <div class="w-full lg:w-6/12 flex items-center justify-center">
      <div class="w-full lg:w-[397px] pt-4 px-4 pb-5 sm:pt-5 sm:px-[29px] sm:pb-8 bg-white rounded-none lg:rounded-[30px]">
        <div class="max-w-[397px] mx-auto">
          <h2 class="text-[22px] font-medium"><%= t("devise.registrations.new.title") %></h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="mt-5">
              <div>
                <%= f.label :first_name, t("devise.registrations.first_name"), class: "text-sm text-metalic-grey" %>
                <%= f.text_field :first_name, placeholder: t("devise.registrations.new.input") %>
                <%= inline_error_for(:first_name, resource) %>
              </div>
              <div class="mt-5">
                <%= f.label :email, t("devise.registrations.email"), class: "text-sm text-metalic-grey" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: "example@email.com" %>
                <%= inline_error_for(:email, resource) %>
              </div>
              <div class="mt-5">
                <%= f.label :password ,class: "text-sm text-metalic-grey"%>
                <%= f.password_field :password, autocomplete: "new-password", class: "", placeholder: t("devise.registrations.enter_password") %>
                <%= inline_error_for(:password, resource) %>
              </div>
              <div class="mt-5">
                <%= f.submit t("devise.registrations.new.link"), class: "button w-full", data: { turbo: false } %>
              </div>
            </div>
            <div class="flex flex-col items-center justify-center -mt-1">
              <p class="translate-y-[22px] bg-white px-2 text-sm text-metalic-grey"><%= t("devise.registrations.new.or") %></p>
              <div class="content-divider w-full"></div>
            </div>
          <% end %>

          <div class="items-center justify-between">
            <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "login-with-google-btn w-full" do %>
              <%= t("devise.sessions.new.sign_google") %>
            <% end %>
            <%= button_to user_facebook_omniauth_authorize_path, method: :post, class: "login-with-google-btn w-full" do %>
              facebook
            <% end %>
          </div>

          <p class="mt-5 text-center">
            <span class="text-sm text-metalic-grey">
              <%= t("devise.registrations.new.already_have_an_account") %>
            </span>
            <span>
              <% if controller_name != "sessions" %>
                <%= link_to t("devise.sessions.new.link"), new_session_path(resource_name), class: "text-sm font-medium text-blue-500" %><br/>
              <% end %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
