<div class="lg:px-24 max-w-screen-2xl mt-16 mx-auto w-full">
  <table>
    <thead class="text-gray-700 bg-gray-50">
      <tr class="text-base">
        <th class="px-6 py-3" scope="col"><%= t("dredd.feedback_calls.id") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.full_name") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.phone") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.email") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.status") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.subtotal") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.total") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.comment") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.feedback_calls.created_at") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.updated_at") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "dredd/orders/order", collection: @orders %>
    </tbody>
  </table>
  <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
</div>
