<header class="w-full h-16 fixed z-30 bg-light-grey">
 <div class="flex items-center justify-between mx-auto px-7 w-full">
    <div class="flex w-1/2 justify-between">
      <span class="text-2xl">Admin Dashboard</span>
      <div class="w-24">
        <%= link_to admin_dashboard_path do %>
          <%= image_tag("partials_img/logo.png") %>
        <% end %>
      </div>
      <nav class="w-2/3 hidden lg:block text-gray-800 font-medium">
        <ul class="h-full flex flex-col lg:flex-row flex-initial justify-between items-center text-center tracking-wide">
          <li class="p-5 cursor-pointer">
            <%= active_link_to "Products", admin_products_path, class: "text-black" %>
          </li>
          <li class="p-5 cursor-pointer">
            <%= active_link_to "Product Categories", admin_product_categories_path, class: "text-black" %>
          </li>
          <li class="p-5 cursor-pointer">
            <%= active_link_to "Feedback Calls", admin_feedback_calls_path, class: "text-black" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
