<div class="main-content main-content-padding">  
  </br>
  <section class="page-header billing with-metrics mobile-metrics">
    <div class="page-info">
      <h1 class="text-xl">
        <%= link_to dredd_accountings_path, class: "back-btn text-black" do %>
          <div class="button-text flex">
            <%= image_tag("icons_svg/chevron-left.svg", class: "h-5")%>
            <%= t('.back') %>
          </div>
        <% end %>
        <%= t('.accounting_month_title', date: @formated_date.strftime('%B %Y')) %>
      </h1>
    </div>

    <div class="page-metrics">
      <div class="metrics-item">
        <div class="metrics-label">
          <%= t('.earning_label') %>
        </div>
        <div class="metrics-value">
          <% if @earnings_from_selected_month.present? %>
            UAH <%= @earnings_from_selected_month.sum(&:total_price) %>
          <% else %>
            <%= t('.empty_orders') %>
          <% end %>
        </div>
      </div>
      <div class="metrics-item">
        <div class="metrics-label">
          <%= t('.costs') %>
        </div>
        <div class="metrics-value">
          <% if @costs_from_selected_month.present? %>
            UAH <%= @costs_from_selected_month.sum(&:amount) %>
          <% else %>
            <%= t('.empty_costs') %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="grid grid-cols-2">
      <div class="pl-5">
        <div class="left">
          <div class="heading-divider-line"></div>
          <div class="heading-divider-text">
            <div class="text-heading-3">
              <%= t('.order') %>
            </div>
          </div>
        </div>

        <div class="list-spacing list-capped-width">
          <% if @earnings_from_selected_month.present? %>
            <% @earnings_from_selected_month.each do |earning| %>
              <div class="list-item-content card mb-3">
                <div class="list-item-header">
                  <div class="list-item-title">
                    <%= earning.print_code %>
                    <div class="meta-info">
                      <span>
                        <%= earning.full_name %>
                      </span>
                      |
                      <span>
                        <%= earning.comment %>
                      </span>
                      <p>
                        <%= l(earning.end_date, format: :date_only) %>
                      </p>
                    </div>
                  </div>
                  <div class="list-item-status">
                    <span class="payout">
                      UAH <%= earning.total_price %>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="p-1"><%= t('.empty_orders') %></p>
          <% end %>
        </div>
      </div>
      <div class="pl-5">
        <div class="left">
          <div class="heading-divider-line"></div>
          <div class="heading-divider-text">
            <div class="text-heading-3">
              <%= t('.costs') %>
            </div>
          </div>
        </div>
        <div class="list-spacing list-capped-width">
          <%= render partial: "dredd/costs/form" %>
          <% if @costs_from_selected_month.present? %>
             <% @costs_from_selected_month.each do |cost| %>
              <div class="list-item-content card mb-3">
                <div class="list-item-header">
                  <div class="list-item-title">
                    <%= cost.name %>
                    <div class="meta-info">
                      <span>
                        <%= cost.description %>
                      </span>
                      <p>
                        <%= l(cost.date, format: :date_only) %>
                      </p>
                    </div>
                  </div>
                  <div class="list-item-status">
                    <span class="payout">
                      UAH <%= cost.amount %>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="p-1"><%= t('.empty_costs') %></p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
