<div class=" w-full max-w-screen-2xl mx-auto px-7 md:px-24 mt-9 mb-10 text-dark-grey">
  <div class="mt-9">
    <div class="text-2xl font-medium">
      <h2><%= t("devise.passwords.edit.title") %></h2>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <div class="w-full md:max-w-[436px] mt-8">
        <div class="w-full field">
          <div class="mt-1">
            <%= f.label :password, t("devise.passwords.edit.label") %>
          </div>
          <div class="mt-1">
             <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
          </div>
        </div>
        <div class="w-full field mt-0 md:mt-5">
          <div class="mt-1">
            <%= f.label :password_confirmation,  t("devise.passwords.edit.labelsecond") %>
          </div>
          <div class="mt-1">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
        <div class="mt-[20px] mb-4">
          <%= f.submit t("devise.passwords.edit.button"), class: "button w-full md:max-w-[212px]", data: { turbo: false } %>
        </div>
        <div class="content-divider"></div>
      </div>
    <% end %>
    <div class="w-full flex items-center [&>*:nth-child(odd)]:mr-8">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
