<div class="auth-wrapper">
  <%= image_tag("auth_img/auth_bg.png", class:"hidden lg:block w-screen h-screen bg-cover bg-center absolute top-0 left-0 blur-sm") %>
  <div class="w-full h-full lg:h-screen text-dark-grey relative z-20 flex flex-col lg:flex-row items-start lg:items-center  justify-center lg:justify-between">
    <div class="w-full h-14 lg:w-6/12 lg:h-full relative">
      <%= image_tag("icons_svg/3d_storm_large_logo.svg", class:"w-20 h-20 lg:w-28 lg:h-28 absolute -top-3 lg:-top-[10px] left-[50%] -translate-x-[50%] lg:translate-x-0 lg:top-[40%] lg:left-[48%]") %>
    </div>
    <div class="w-full lg:w-6/12 flex items-center justify-center">
      <div class="w-full lg:w-[397px] pt-4 px-4 pb-5 sm:pt-5 sm:px-[29px] sm:pb-8 bg-white rounded-none lg:rounded-[30px]">
        <div class="max-w-[397px] mx-auto">
          <h2 class="text-[22px] font-medium"><%= t("devise.passwords.edit.title") %></h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <div class="mt-5">
              <%= f.label :password, t("devise.passwords.edit.label"), class:"text-sm" %>
              <div>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>
                    characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
                <%= inline_error_for(:password, resource) %>
              </div>
            </div>
            <div class="mt-5">
            <%= f.label :password_confirmation,  t("devise.passwords.edit.labelsecond"), class:"text-sm" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              <%= inline_error_for(:password_confirmation, resource) %>
            </div>
            <div class="mt-5">
              <%= f.submit t("devise.passwords.edit.button"), class: "button w-full", data: { turbo: false } %>
            </div>
          <% end %>
          <div class="flex items-center justify-center mt-5">
            <%- if devise_mapping.registerable? && controller_name != "registrations" %>
              <%= link_to t("devise.registrations.new.title"), new_registration_path(resource_name), class: "text-sm font-medium text-blue-500" %>
            <% end %>
            <p class="vertical-divider mx-2"></p>
            <%- if controller_name != "sessions" %>
              <%= link_to t("devise.sessions.new.login"), new_session_path(resource_name), class: "text-sm font-medium text-blue-500" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
