<header class="w-full h-16 fixed z-30 bg-light-grey">
  <div class="w-full max-w-screen-2xl mx-auto flex justify-between items-center px-7 lg:px-[100px]">
    <div class="flex w-1/2 justify-between">
      <div class="w-24">
        <%= link_to root_path do %>
          <%= image_tag("partials_img/logo.png") %>
        <% end %>
      </div>
      <nav class="w-2/3 hidden lg:block text-gray-800 font-medium">
        <ul class="h-full flex flex-col lg:flex-row flex-initial justify-between items-center text-center tracking-wide">
          <li class="px-4">
            <%= active_link_to 'Head', root_path, class: "text-black cursor-pointer", active: :exact %>
          </li>
          <% if policy(:admin).access? %>
            <li class="px-4">
              <%= active_link_to 'Store', products_path, class: "text-black cursor-pointer" %>
            </li>
            <li class="px-4 cursor-pointer">
              <%= active_link_to "Calculator", calculator_path, class: "text-black cursor-pointer" %>
            </li>
          <% end %>
          <li class="px-4 cursor-pointer"></li>
        </ul>
      </nav>
    </div>
    <div class="flex items-center">
      <%# if policy(:admin).access? %>
        <div class="w-20 lg:flex lg:justify-between">
          <div class="relative w-7 h-7 pt-1 flex items-center lg:block" data-controller="dropdown">
            <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
              <span class="appearance-none flex items-center text-gray-700">
                <span class="appearance-none flex items-center text-gray-700">
                  <%= image_tag("partials_img/user.png") %>
                </span>
              </span>
            </div>
            <div data-dropdown-target="menu" class="absolute top-10 left-[50%] -translate-x-[50%] hidden">
              <div class="w-[186px] shadow rounded border overflow-hidden flex flex-col items-center text-base text-gray-900 bg-white">
                <% if user_signed_in? %>
                  <p class="text-center px-5 pt-2 pb-1 cursor-pointer">
                    <%= link_to "My cabinet", edit_user_registration_path, class: "text-black" %>
                  </p>
                  <hr/>
                  <div class="text-center cursor-pointer pt-2 pb-1">
                    <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { trubo: false } %>
                  </div>
                <% else %>
                  <p class="text-center cursor-pointer pt-2 pb-1">
                    <%= link_to "Registration", new_user_registration_path, class: "text-black" %>
                  </p>
                  <hr/>
                  <div class="text-center px-5 pt-2 pb-1 cursor-pointer">
                    <p class="text-center cursor-pointer" data-controller="renderer">
                      <%= link_to "Sign in", user_session_path, data: { remote: true, action: 'ajax:success->renderer#render' }, class: "text-black" %>
                      <span data-target="renderer.display"></span>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        
        <details class="drawer-wrapper">
          <summary class="drawer-trigger">
            <div class="btn btn-primary">
              <%= image_tag("partials_img/basket_icon_grey.png", class: "mt-2") %>
            </div>
            <div class="absolute top-5 right-5 flex items-center">
              <div class="close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 cursor-pointer mt-[2px]" fill="none" viewBox="0 0 24 24" stroke="#6E7579">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </div>
              <div class="clear-btn">
                <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6 19.1429C6 20.1643 6.9 21 8 21H16C17.1 21 18 20.1643 18 19.1429V8H6V19.1429ZM8 10H16V19H8V10ZM15.5 5L14.5 4H9.5L8.5 5H5V7H19V5H15.5Z" fill="#6E7579"/>
                </svg>
              </div>
            </div>
          </summary>
          <div class="drawer">
            <div class="drawer-header">
              <div class="drawer-title flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="#2A343E">
                  <path stroke-linecap="round" stroke-line="stroke-line" join="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                </svg>
                <h4 class="text-base text-dark-grey font-medium capitalize ml-2">
                  Your basket
                </h4>
              </div>
            </div>

            <div class="drawer-content">
              <%= render partial: "cart/empty_cart_body" %>
              <div id="cart_item" class="basket-sidebar order-wrapper mt-8 overflow-y-auto pr-4">
                <% current_cart.cart_items.each do |cart_item| %>
                  <%= render partial: "cart/item_line", locals: { cart_item: cart_item } %>
                <% end %>
              </div>
            </div>
            <%= render partial: "cart/cart_footer_action" %>
          </div>
        </details>


      <%# end %>
      <% if policy(:admin).access? %>
        
      <% end %>
    </div>
  </div>
</header>
