<div class="flex flex-col screen-height mt-[68px] md:flex-row items-center justify-center md:justify-between">
  <div class="w-full md:w-3/6 order-2 md:order-1">
    <div class="mt-12 text-center md:text-left md:mt-0">
      <p class="text-base md:text-lg uppercase text-gray-100">
        <%= t("static_pages.home.services") %>
      </p>
      <h1 class="text-3xl lg:text-heading-1 text-dark-blue capitalize">
        <%= t("static_pages.home.3dmodeling") %>
      </h1>
      <p class="w-full md:max-w-[472px] mt-6 md:mt-10 text-dark-blue">
        <%= t("static_pages.modeling.3dmodeling_description") %>        
      </p>
    </div>
  </div>
  <div class="w-4/6 order-1 md:order-2 flex justify-end">
    <%= turbo_frame_tag "image-frame" do %>
      <%= render partial: "image_content" %>
    <% end %>
  </div>
</div>