<header class="w-full h-16 fixed z-30 bg-light-grey">
 <div class="flex items-center justify-between mx-auto px-7 w-full">
    <div class="flex w-1/2 justify-between">
      <span class="text-2xl"><%= t("dredd.header.admin_dashboard") %></span>
      <div class="w-24">
        <%= link_to dredd_dashboard_path do %>
          <%= image_tag("icons_svg/logo.svg", class: "pt-2") %>
        <% end %>
      </div>
      <nav class="w-2/3 hidden lg:block text-gray-800 font-medium">
        <ul class="h-full flex flex-col lg:flex-row flex-initial justify-between items-center text-center tracking-wide space-x-4">
          <%= active_link_to t("dredd.header.users"), dredd_users_path, class: "text-black cursor-pointer pl-5" %>
          <%= active_link_to t("dredd.header.products"), dredd_products_path, class: "text-black cursor-pointer pl-5" %>
          <%= active_link_to t("dredd.header.product_categories"), dredd_product_categories_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.feedback_calls"), dredd_feedback_calls_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.manual_orders"), dredd_manual_orders_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.internet_orders"), dredd_orders_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.modeling_orders"), dredd_modeling_orders_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.printing_orders"), dredd_printing_orders_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.rendering_orders"), dredd_rendering_orders_path, class: "text-black cursor-pointer" %>
        </ul>
      </nav>
      <div class="inline-flex justify-center items-center gap-2.5" style="position: absolute;right: 0;">
        <%= locale_switcher(I18n.available_locales.first, "icons_svg/english_flag.svg") %>
        <div class="inline-flex justify-center items-center">
          <span class="w-px h-4" style="background: var(--dark-blue, #2A343E);"></span>
        </div>
        <%= locale_switcher(I18n.available_locales.last, "icons_svg/ukraine_flag.svg") %>
      </div>
    </div>
  </div>
</header>
