<header class="w-full h-16 fixed z-30 bg-light-grey">
 <div class="flex items-center justify-between mx-auto px-7 w-full">
    <div class="flex w-1/2 justify-between">
      <span class="text-2xl"><%= t("dredd.header.admin_dashboard") %></span>
      <div class="w-24">
        <%= link_to dredd_dashboard_path do %>
          <%= image_tag("partials_img/logo.png") %>
        <% end %>
      </div>
      <nav class="w-2/3 hidden lg:block text-gray-800 font-medium">
        <ul class="h-full flex flex-col lg:flex-row flex-initial justify-between items-center text-center tracking-wide space-x-4">
          <%= active_link_to t("dredd.header.products"), dredd_products_path, class: "text-black cursor-pointer pl-5" %>
          <%= active_link_to t("dredd.header.product_categories"), dredd_product_categories_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.feedback_calls"), dredd_feedback_calls_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.manual_orders"), dredd_manual_orders_path, class: "text-black cursor-pointer" %>
          <%= active_link_to t("dredd.header.internet_orders"), dredd_orders_path, class: "text-black cursor-pointer" %>
        </ul>
      </nav>
      <% I18n.available_locales.reject { |locale| current_locale?(locale) }.each do |locale| %>
        <%= link_to locale_path(locale), data: { "turbo-method": :put } do %>
          <span class="appearance-none flex items-center text-gray-700">
            <%= image_tag("partials_img/#{current_locale_icon(locale)}.png", class: "mt-2 w-7") %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
