<div class="w-full max-w-screen-[2300px] mx-auto px-7 md:px-16 lg:px-24 mt-20">
  <div class="w-full mx-auto flex flex-col lg:flex-row" data-controller="sidebar">
    <div
      class="sidebar w-1/6 h-auto max-w-[320px] flex-col shrink-0 lg:mr-6 fixed top-0 lg:relative z-40 lg:z-10 left-0 mb-0 lg:mb-36 transform -translate-x-full lg:translate-x-0 transition duration-700 ease-in-out"
      data-sidebar-target="sidebarContainer" data-expanded="1">
      <div
        class="relative top-0 lg:sticky lg:top-[90px] h-screen lg:h-auto bg-white rounded-0 lg:rounded-3xl py-6 px-6 lg:px-8 text-zinc-500">
        <div>
          <h4 class="text-lg normal-case text-gray-800 mb-4">
            <%= t("dredd.workers.search") %>
          </h4>
          <div data-controller="accordion">
            <%= search_form_for(@q, url: dredd_clients_path, data: { turbo_frame: :results }) do |f| %>
              <div class="space-y-2">
                <%= f.label :fisrt_name, t("dredd.workers.first_last_full") %>
                <%= f.search_field :first_name_or_last_name_or_full_name_cont, placeholder:
                    t("dredd.manual_orders.please_input") %>
              </div>
              <div class="space-y-2">
                <%= f.label :nickname, t("dredd.workers.nickname") %>
                  <%= f.search_field :nickname_cont, placeholder: t("dredd.manual_orders.please_input") %>
              </div>
              <div class="space-y-2">
                <%= f.label :phone_number, t("dredd.manual_orders.phone_number") %>
                <%= f.search_field :phone_number_cont, placeholder: t("dredd.manual_orders.please_input") %>
              </div>

              <div class="hidden lg:block">
                <%= f.submit t("dredd.workers.search"), class: "mt-6 lg:mt-4 rounded w-full button" %>
              </div>
              <% end %>
          </div>
          </br>
          
          <h4 class="text-lg normal-case text-gray-800 mb-4">
            Обєднати клієнтів
          </h4>

          <%= form_with(url: combine_clients_dredd_clients_path, method: :post) do |f| %>
            <%= f.label :client1_id, "Client 1 ID який ЗАЛИШИТЬСЯ!!!" %>
            <%= f.text_field :client1_id %>
            
            <%= f.label :client2_id, "Client 2 ID який ВИДАЛИТЬСЯ (DESTORYED)!!!" %>
            <%= f.text_field :client2_id %>

            <%= f.submit "Combine Clients", class: "button" %>
          <% end %>

        </div>
      </div>
    </div>
    <div>
      <div class="w-full text-sm text-left text-gray-700 dark:text-gray-400 border-1 border-solid rounded">
        <div class="flex flex-row items-center justify-between text-xs text-gray-700 uppercase border-b-1 border-solid">
          <p class="w-1/8 px-4 py-3">
            <%= t("dredd.users.id") %>
          </p>
          <p class="w-1/6 px-4 py-3">
            <%= t("dredd.users.first_name") %>
          </p>
          <p class="w-1/6 px-4 py-3">
            <%= t("dredd.users.last_name") %>
          </p>
          <p class="w-1/6 px-4 py-3">
            <%= t("dredd.users.nickname") %>
          </p>
          <p class="w-1/6 px-4 py-3">
            <%= t("dredd.users.phone") %>
          </p>
          <p class="w-1/8 px-4 py-3">
            <%= t("dredd.users.actions") %>
          </p>
        </div>
        <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
          <%= turbo_frame_tag "new-dredd-client-form", src: new_dredd_client_path %>
            <div id="clients" class="border-b">
              <%= render partial: "dredd/clients/client", collection: @clients %>
            </div>
        <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
