<div class="auth-wrapper">
  <%= image_tag("auth_img/auth_bg.png", class:"hidden lg:block w-screen h-screen bg-cover bg-center absolute top-0 left-0 blur-sm") %>
  <div class="w-full h-full lg:h-screen text-dark-grey relative z-20 flex flex-col lg:flex-row items-start lg:items-center  justify-center lg:justify-between">
    <div class="w-full h-14 lg:w-6/12 lg:h-full relative">
      <%= image_tag("icons_svg/3d_storm_large_logo.svg", class:"w-20 h-20 lg:w-28 lg:h-28 absolute -top-3 lg:-top-[10px] left-[50%] -translate-x-[50%] lg:translate-x-0 lg:top-[40%] lg:left-[48%]") %>
    </div>
    <div class="w-full lg:w-6/12 flex items-center justify-center">
      <div class="w-full lg:w-[397px] pt-4 px-4 pb-5 sm:pt-5 sm:px-[29px] sm:pb-8 bg-white rounded-none lg:rounded-[30px]">
        <div class="max-w-[397px] mx-auto">
          <h2 class="text-[22px] font-medium"><%= t("devise.sessions.new.login") %></h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mt-5">
              <div>
                <%= f.label :email, t("devise.registrations.email"), class: "text-sm" %>
                <%= f.email_field :email, autofocus: true, class: "w-full rounded", autocomplete: "email", placeholder: "example@email.com" %>
              </div>
              <div class="relative mt-5" data-controller="password-visibility">
                <%= f.label :password, class:"text-sm" %>
                <%= f.password_field :password, data: { "password-visibility-target": "input"}, spellcheck: "false", autocomplete: "current-password", class: "w-full pr-10 rounded", placeholder: t("devise.registrations.enter_password") %>
                <button type="button" data-action="password-visibility#toggle" class="absolute top-8 right-2">
                  <span data-password-visibility-target="icon">
                    <%= image_tag("icons_svg/eye_hide_password_icon.svg", class: "w-6 h-6 fill-metalic-grey") %>
                  </span>
                  <span data-password-visibility-target="icon" class="hidden">
                    <%= image_tag("icons_svg/eye_show_password_icon.svg", class: "w-6 h-6 fill-metalic-grey") %>
                  </span>
                </button>
              </div>
              <div class="flex items-center justify-between mt-4">
                <div class="flex items-center">
                  <%= f.check_box :remember_me, class: "accent-yellow rounded" %>
                  <%= f.label :remember_me, class: "text-sm ml-2 font-medium"%>
                </div>
                <div>
                  <%- if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
                    <%= link_to t("devise.passwords.new.title"), new_password_path(resource_name), class: "text-sm font-medium text-blue-500" %><br/>
                  <% end %>
                </div>
              </div>
              <div class="mt-5 mb-4">
                <%= f.submit t("devise.sessions.new.link"), class:"button w-full", data: { turbo: false } %>
              </div>
              <div class="flex flex-col items-center justify-center -mt-5">
                <p class="translate-y-[22px] bg-white px-2 text-sm text-metalic-grey"><%= t("devise.registrations.new.or") %></p>
                <div class="content-divider w-full"></div>
              </div>
              <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
            </div>
          <% end %>
          <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "login-with-google-btn w-full" do %>
            <%= t("devise.sessions.new.sign_google") %>
          <% end %>
          <p class="mt-5 text-center">
            <span class="text-sm text-metalic-grey">
              <%= t("devise.registrations.new.first_registration")%>
            </span>
            <span>
              <%- if devise_mapping.registerable? && controller_name != "registrations" %>
                <%= link_to t("devise.registrations.new.link"), new_registration_path(resource_name), class: "text-sm font-medium text-blue-500" %><br/>
              <% end %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div></div>
