<div class="mt-9 mb-10 text-dark-grey">
  <div class="mt-9">
    <div class="text-2xl font-medium">
      <h2>Log in</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="w-full md:max-w-[436px] mt-8">
        <div class="w-full">
          <div class="mt-1">
            <%= f.label :email, t("devise.registrations.email") , class:"text-sm" %>
          </div>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true,  class: "w-full rounded", autocomplete: "email" , placeholder:"marko_pazuniak@gmail.com" %>
          </div>
        </div>
        <div class="w-full mt-0 md:mt-5">
          <div class="mt-1">
            <%= f.label :password , class:"text-sm" %>
          </div>
          <div class="mt-1">
            <%= f.password_field :password, autocomplete: "current-password", class: "w-full rounded", placeholder:"Enter password" %>
          </div>
        </div>
        <div class="w-full">
          <div class="flex items-center mr-4 mt-4">
            <div class="mt-1">
              <%= f.check_box :remember_me, class:"w-[14px] h-[14px] accent-yellow rounded" %>
            </div>
            <div class="ml-2 text-sm font-medium">
              <%= f.label :remember_me , class:"text-sm"%>
            </div>
          </div>
        </div>
        <div class="mt-[20px] mb-4">
          <%= f.submit "Log in", class:"button w-full md:max-w-[212px]", data: { turbo: false } %>
        </div>
        <div class="content-divider"></div>
      </div>
    <% end %>
    <div class="flex items-center [&>*:nth-child(odd)]:mr-8">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
