<tr>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= link_to dredd_product_path(product), class: "text-black" do %>
      <%= product.id %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= link_to dredd_product_path(product), class: "text-black" do %>
      <%= product.name %>
    <% end %>
  </td>
  <td class="flex font-medium justify-center py-4 whitespace-nowrap" scope="row">
    <% if product.main_picture.attached? %>
      <%= link_to dredd_product_path(product), class: "text-black" do %>
        <%= image_tag(product.main_picture, style: "height: 5rem;") %>
      <% end %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= link_to dredd_product_path(product), class: "text-black" do %>
      <%= product.product_category.name %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= link_to dredd_product_path(product), class: "text-black" do %>
      <%= product.status %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap" scope="row">
    <%= link_to dredd_product_path(product), class: "text-black" do %>
      <%= product.created_at.strftime("%F") %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap space-x-4 flex" scope="row">
    <%= link_to edit_dredd_product_path(product), class: "text-black bg-primary p-1.5 rounded-2xl text-black" do %>
      <%= t("dredd.orders.edit") %>
    <% end %>
    <%= button_to dredd_product_path(product), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-black bg-danger p-1.5 rounded-2xl text-black" do %>
      <%= t("dredd.manual_orders.destroy") %>
    <% end %>
  </td>
</tr>
