<div class="lg:px-24 max-w-screen-2xl mt-16 mx-auto w-full">
  <table>
    <thead class="text-gray-700 bg-gray-50">
      <tr class="text-base">
        <th class="px-6 py-3" scope="col"><%= t("dredd.feedback_calls.id") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.product_categories.name_big") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.products.main_picture") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.products.product_category_big") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.status") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.feedback_calls.created_at") %></th>
        <th class="px-6 py-3" scope="col"><%= t("dredd.orders.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "dredd/products/product", collection: @products %>
    </tbody>
  </table>
  <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
  <footer class="pt-6">
    <%= link_to t("dredd.products.create_new_product"), new_dredd_product_path, class: "button w-80" %>
  </footer>
</div>
