<tr class="bg-white.border-b.dark:bg-gray-800.dark:border-gray-700">
  <td class="px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white" scope="row">
    <%= product.id %>
  </td>
  <td class="px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white" scope="row">
    <%= product.name %>
  </td>
  <td class="px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white" scope="row">
    <%= product.product_category.name %>
  </td>
  <td class="px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white" scope="row">
    <%= product.status %>
  </td>
  <td class="px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white" scope="row">
    <%= product.created_at.strftime("%F") %>
  </td>
</tr>
