<tr>
  <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" scope="row">
    <%= link_to admin_product_path(product) do %>
      <%= product.id %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" scope="row">
    <%= link_to admin_product_path(product) do %>
      <%= product.name %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" scope="row">
    <%= link_to admin_product_path(product) do %>
      <%= product.product_category.name %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" scope="row">
    <%= link_to admin_product_path(product) do %>
      <%= product.status %>
    <% end %>
  </td>
  <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" scope="row">
    <%= link_to admin_product_path(product) do %>
      <%= product.created_at.strftime("%F") %>
    <% end %>
  </td>
</tr>
