<%= render partial: "dredd/shared/errors", locals: { resource: @printer } %>
<%= form_with model: [:dredd, @printer], url: dredd_printers_path, class: "form-grid-single" do |form| %>
  <div class="form-grid-single w-1/2">
    <div class="form-group">
      <%= form.label t("dredd.printers.printer_code"), class: "form-label" %>
      <%= form.number_field :printer_code, placeholder: t("dredd.manual_orders.please_input") %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.firm"), class: "form-label" %>
      <%= form.text_field :firm, placeholder: t("dredd.manual_orders.please_input") %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.model"), class: "form-label" %>
      <%= form.text_field :model, placeholder: t("dredd.manual_orders.please_input") %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.printing_technology"), class: "form-label" %>
      <%= form.select :printing_technology, options_for_select(ApplicationHelper::PRINTING_TECHNOLOGY, selected: select_value(@printer.printing_technology)), include_blank: true %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.state"), class: "form-label" %>
      <%= form.select :state, options_for_select(ApplicationHelper::STATE, selected: select_value(@printer.state)), include_blank: true %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.type_mechanic"), class: "form-label" %>
      <%= form.select :type_mechanic,  options_for_select(ApplicationHelper::TYPE_MECHANIC, selected: select_value(@printer.type_mechanic)), include_blank: true %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.table_size"), class: "form-label" %>
      <%= form.text_field :table_size, placeholder:t("dredd.manual_orders.please_input") %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.price_for_printer"), class: "form-label" %>
      <%= form.text_field :price_for_printer, placeholder: t("dredd.manual_orders.please_input") %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.bought"), class: "form-label" %>
      <%= form.date_field :bought %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.comment"), class: "form-label" %>
      <%= form.text_area :comment, placeholder: t("dredd.manual_orders.please_input"), class: "w-full form-control" %>
    </div>
    <div class="form-group">
      <%= form.label t("dredd.printers.by_for_upgrade"), class: "form-label" %>
      <%= form.text_area :by_for_upgrade, placeholder: t("dredd.manual_orders.please_input"), class: "w-full form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit t("dredd.manual_orders.save"), class: "button w-full md:max-w-[212px]" %>
    </div>
  </div>
<% end %>
