<div data-controller="calculator">
  <%= simple_form_for @print_model, url: manage_print_models_path, html: { data: { calculator_target: "form" } } do |f| %>
    <div id="print_model_id_field">
      <%= turbo_stream.update("print_model_id_field") do %>
        <%= f.input :id, as: :hidden, input_html: { value: @print_model.id, id: @print_model.id } %>
      <% end %>
    </div>

    <div id="loader" class="hidden" data-controller="loader">
      <div wire:loading class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50 overflow-hidden bg-gray-700 opacity-75 flex flex-col items-center justify-center">
        <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        <h2 class="text-center text-white text-xl font-semibold">Loading...</h2>
        <p class="w-1/3 text-center text-white">This may take a few seconds, please don't close this page.</p>
      </div>
    </div>

    <%= f.input :size, as: :hidden, input_html: { data: { calculator_target: "sizeField" } } %>
    <%= f.input :weight, as: :hidden, input_html: { data: { calculator_target: "weightField" } } %>
    <%= f.input :volume, as: :hidden, input_html: { data: { calculator_target: "volumeField" } } %>
    <div class="w-full h-full max-w-screen-2xl mx-auto relative top-2 z-20" data-controller="upload-model">
      <div class="block pb-14 mt-8 px-7 overflow-hidden lg:mx-auto lg:flex lg:justify-between md:px-24" data-controller="sidebar">
        <div class="w-full xl:w-2/3">
          
          <%= render partial: "upload_section", locals: { f: f } %>
        
          <div class="w-full h-full min-h-fit overflow-auto lg:w-1/3 xl:ml-10 text-base bg-white px-8 pt-6 pb-8 xl:rounded-2xl fixed xl:relative z-40 inset-y-0 left-0 transform xl:transform-none -translate-x-full transition duration-700 ease-in-out" data-sidebar-target="sidebarContainer" data-expanded="1">
            <section data-upload-model-target="settingsContainer" class="sidebar relative">
              <div class="close-btn absolute top-0 -right-4 block xl:hidden" data-action="click->sidebar#toggle">
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </div>
              <div class="flex items-center">
                <div class="w-6">
                  <%= image_tag("calculator_img/settings.png") %>
                </div>
                <h4 class="ml-2 font-medium">
                  <%= t("calculator.subtitles.settings") %>
                </h4>
                <div class="settings-close"></div>
              </div>
              <p class="text-gray-500 mt-4">
                <%= t("calculator.settings.desc") %>
              </p>
              <div class="w-full h-0.5 bg-zinc-200 my-4"></div>
              <div data-controller="print-model-colors" class="settings__content">
                <%= f.fields_for :print_model_attributes do |attribute_field| %>
                  <%= attribute_field.input :color, as: :hidden, input_html: { required: true, data: { calculator_target: "colorField" } } %>
                  <%= attribute_field.input :subtotal_price, as: :hidden, input_html: { data: { calculator_target: "subtotalPriceField" } } %>
                  <div>
                    <div class="colors">
                      <h5 class="text-gray-500">
                        Color
                      </h5>
                      <div class="colors-wrapper">
                        <div class="flex-auto">
                          <div id="staticColors" data-print-model-colors-target="color" class="w-full flex items-center mt-3 space-x-4">
                            <% ApplicationHelper::COLORS.each do |color| %>
                              <div class="w-8 h-8 cursor-pointer rounded-full border" 
                                    data-action="click->calculator#setColor" 
                                    data-calculator-color-param="<%= color %>" 
                                    style="background-color: <%= "##{color}" %>">
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="w-full h-0.5 bg-zinc-200 my-4"></div>
                    <div>
                      <div class="mt-2 mb-4">
                        <h4 class="text-gray-500 mb-2">
                          <%= t("calculator.settings.subtitles.material") %>
                        </h4>
                        <%= attribute_field.input :material, 
                                                  label: false, 
                                                  collection: ApplicationHelper::MATERIALS,
                                                  value_method: proc { |m| m.downcase }, 
                                                  prompt: "Select material",
                                                  input_html: 
                                                    { 
                                                      include_blank: false,
                                                      class: "w-full rounded", 
                                                      data: { action: "change->calculator#setMaterial change->print-model-colors#changeColor" } 
                                                    }, 
                                                  required: true 
                        %>
                      </div>
                      <div class="mt-2 mb-4">
                        <h4 class="text-gray-500 mb-2">
                          <%= t("calculator.settings.subtitles.quality") %>
                        </h4>
                        <%= attribute_field.input :quality, 
                                                  label: false, 
                                                  collection: ApplicationHelper::QUALITY, 
                                                  prompt: "Select quality",
                                                  label_method: proc { |q| "#{q} micron" }, 
                                                  input_html: 
                                                    { 
                                                      include_blank: false,
                                                      class: "w-full rounded", 
                                                      data: { action: "change->calculator#setQuality" } 
                                                    }, 
                                                    required: true 
                        %>
                      </div>
                    </div>
                  </div>

                  <div data-upload-model-target="orderContainer">
                    <div class="w-full h-0.5 bg-zinc-300 my-6"></div>
                    <div class="flex items-center">
                      <%= image_tag("partials_img/payment.png") %>
                      <h4 class="ml-2 font-medium">
                        <%= t("calculator.settings.estimated_cost") %>
                      </h4>
                    </div>
                    <div class="flex justify-between items-center my-6 font-medium text-xl">
                      <h4>
                        <%= t("calculator.settings.approximately") %>
                      </h4>
                      <h4 data-calculator-target="price">
                        <%= t("calculator.settings.price_placeholder", price: "від ₴ 1") %>
                      </h4>
                    </div>
                    <button class="w-full h-14 mt-10 bg-yellow-400 flex justify-center items-center rounded-lg text-base px-3 text-center sm:px-0 sm:text-xl font-medium uppercase cursor-pointer py-2 button md:max-w-[212px]">
                      <%= t("calculator.btns.order_print") %>
                    </button>
                  </div>
                <% end %>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>