
<div class="content flex items-center justify-center mt-16 mx-auto relative space-x-3">
  <!-- <%= @product_category.name %> -->
  <%= @product_category.description %>
  <% if @product_category.children.present? %>
    <div class="">
      <% @product_category.children.each do |option| %>
        <div class="mb-10">
          <div class="text-heading-1 mr-3 mb-3" style="font-size: 50px;">
            <%= option.name %>
          </div>
          <div class="text-heading-1 mr-3 mb-3">
            <%= option.description %>
          </div>
        </div>
      <% end %>
      <div class="text-heading-1 mr-3 mb-3">
        <%= link_to "Edit", edit_admin_product_category_path(@product_category) %>
      </div>
    </div>
  <% end %>

  <% if @product_category.parent.present? %>
    <div class="">
      <div class="form-radio ml-3 mb-3">
        <%= @product_category.parent.name  %>
      </div>
    </div>
  <% end %>
</div>
