<p><%= t("devise.mailer.changed.hello") %><%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("devise.mailer.changed.message") %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t("devise.mailer.changed.messagesecond") %><%= @resource.email %>.</p>
<% end %>
