<p><%= t("devise.mailer.changed.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.mailer.reset.message") %></p>

<p><%= link_to t("devise.mailer.reset.change"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.mailer.reset.if") %></p>
<p><%= t("devise.mailer.reset.messagesecond") %></p>
