<p><%= t("devise.mailer.changed.hello") %><%= @resource.email %>!</p>

<p><%= t("devise.mailer.unlock.message") %></p>

<p><%= t("devise.mailer.unlock.click") %></p>

<p><%= link_to t("devise.mailer.unlock.button"), unlock_url(@resource, unlock_token: @token) %></p>
