<%= form_with(model: [:dredd, @cost], local: true, class: "mb-7") do |form| %>
  <div class="mb-5">
    <div class="">
      <%= form.text_field :name, value: current_user.first_name, placeholder: "Name", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= form.number_field :amount, step: :any, placeholder: "Amount", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      
      <% value = (@formated_date.month == Time.current.month) ? Time.current : @formated_date %>
      <%= form.date_field :date, value: value&.strftime('%Y-%m-%d'), class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    
    <%= form.text_area :description, placeholder: "Add description", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 h-20 mt-2 w-full" %>
    <%= form.hidden_field :month_date, value: params['date'] %>
    <%= form.submit "Save", class: "py-2 button w-full" %>
  </div>
<% end %>