<div id="<%= dom_id product %>">  
  <%= link_to product_path(product.id) do %>
    <div class="flex flex-col p-5 bg-dark-blue rounded-3xl">
      <p class="text-gray-500">
        <%= product.product_category.name%>
      </p>
      <div>
        <% if product.main_picture.attached? %>
          <div class="w-full h-[240px] my-2" data-controller="loading">
            <div class="spinner">
              <%= render partial: "spinner" %>
            </div>
            <div class="image-container hidden">
              <%= image_tag(product.main_picture, class: "w-full h-full object-contain mx-auto my-auto") %>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <p class="text-white text-base font-medium clamp">
          <%= product.name %>
        </p>
        <p class="text-xl text-white pt-1">
          ₴
          <%= product.price.to_i %>
        </p>
      </div>
    </div>
  <% end %>
</div>
