<div>
  <h4 class="text-lg normal-case text-gray-800 mb-4">
    Categories
  </h4>
  <div data-controller="accordion">
    <ul data-controller="checkbox-family">
      <%= search_form_for @q, data: { turbo_frame: "results" } do |f| %>
        <% @product_categories.each do |category| %>
          <li>
            <div>
              <div class="form-grid-single narrow mb-4 acc_title cursor-pointer" data-action="click->accordion#toggle" data-accordion-target="accTitle" id="acc_btn" data-id="<%= category.id %>" data-active="false">
                <div class="form-check flex justify-between items-center">
                  <div class="flex justify-between items-center">
                    <%= check_box_tag("q[product_category_name_eq_any][]", category.name, (true if @q.product_category_name_eq_any.try(:include?, category.name)), data: { "checkbox-family-target" => "checkbox" } ) %>
                    <label class="normal-case text-metalic-grey"><%= category.name %></label>
                  </div>
                  <label class="font-semibold text-metalic-grey"><%= products_count_for_parent_category(category) %></label>
                </div>
              </div>
              <% if category.children.any? %>
                <ul class="category-descendants hidden">
                  <% category.children.each do |child| %>
                    <li>
                      <div class="form-grid-single narrow mb-4 pl-4">
                        <div class="form-check flex justify-between items-center">
                          <div class="flex justify-between items-center">
                            <%= check_box_tag("q[product_category_name_eq_any][]", child.name, (true if @q.product_category_name_eq_any.try(:include?, child.name)), data: { "checkbox-family-target" => "checkbox" } ) %>
                            <label class="normal-case text-metalic-grey"><%= child.name %></label>
                          </div>
                          <label class="font-semibold text-metalic-grey"><%= child.products.count %></label>
                        </div>
                      </div>
                      <% if child.children.any? %>
                        <ul>
                          <% child.children.each do |ch| %>
                            <li>
                              <div class="form-grid-single narrow mb-5 pl-8">
                                <div class="form-check pl-4 flex justify-between items-center">
                                  <div class="flex justify-between items-center">
                                    <%= check_box_tag("q[product_category_name_eq_any][]", ch.name, (true if @q.product_category_name_eq_any.try(:include?, ch.name)), data: { "checkbox-family-target" => "checkbox" } ) %>
                                    <label class="normal-case  text-metalic-grey"><%= ch.name %></label>
                                  </div>
                                  <label class="font-semibold  text-metalic-grey"><%= ch.products.count %></label>
                                </div>
                              </div>
                            </li>
                          <% end %>
                        </ul>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </li>
        <% end %>
        <div>
          <%= f.submit "Search", class: "mt-6 lg:mt-4 rounded w-full button" %>
        </div>
      <% end %>
    </ul>

  </div>
</div>
