<div class="pb-4">
  <h4 class="text-lg text-gray-800">
    Categories
    <ul data-controller="checkbox-family">
      <%= search_form_for @q, data: { turbo_frame: "results" } do |f| %>
        <% @product_categories.each do |category| %>
          <li>
            <div class="form-grid-single narrow mb-5">
              <div class="form-check">
                <%= check_box_tag("q[product_category_name_eq_any][]", category.name, (true if @q.product_category_name_eq_any.try(:include?, category.name)), data: { "checkbox-family-target" => "checkbox" } ) %>
                <label><%= category.name %></label>
                <label><%= products_count_for_parent_category(category) %></label>
              </div>
            </div>
            <% if category.children.any? %>
              <ul>
                <% category.children.each do |child| %>
                  <li>
                    <div class="form-grid-single narrow mb-5 pl-8">
                      <div class="form-check">
                        <%= check_box_tag("q[product_category_name_eq_any][]", child.name, (true if @q.product_category_name_eq_any.try(:include?, child.name)), data: { "checkbox-family-target" => "checkbox" } ) %>
                        <label><%= child.name %></label>
                        <label><%= child.products.count %></label>
                      </div>
                    </div>
                    <% if child.children.any? %>
                      <ul>
                        <% child.children.each do |ch| %>
                          <li>
                            <div class="form-grid-single narrow mb-5 pl-8">
                              <div class="form-check pl-8">
                                <%= check_box_tag("q[product_category_name_eq_any][]", ch.name, (true if @q.product_category_name_eq_any.try(:include?, ch.name)), data: { "checkbox-family-target" => "checkbox" } ) %>
                                <label><%= ch.name %></label>
                                <label><%= ch.products.count %></label>
                              </div>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
        <div class="px-5">
          <%= f.submit "Search", class: "py-2 rounded w-full button w-full md:max-w-[212px]" %>
        </div>
      <% end %>
    </ul>
    <div class="mt-3 "></div>
  </div>
