<div class="w-full max-w-screen-2xl mx-auto mt-24 px-7 lg:px-24">
  <div class="w-full mx-auto flex justify-between">
    <div class="w-80 hidden h-full max-h-min bg-white rounded-3xl py-4 px-7 text-zinc-500 lg:block">
      <%= render "products/store_filter" %>
    </div>
    <div class="w-full lg:w-9/12 mt-4 lg:mt-0">
      <% if @products.any? %>
        <%= turbo_frame_tag "results" do %>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:ml-10 pb-16">
            <% @products.each do |product| %>
              <%= render product %>
            <% end %>
          </div>
          <div class="flex mt-12 items-center justify-center space-x-4 w-full">
            <%== pagy_nav(@pagy) %>
          </div>
          <p class="text-center mt-8 text-gray-500"><%== pagy_info @pagy %></p>
        <% end %>
      <% else %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:ml-10 pb-16">
          <div></div>
          <div class="w-full my-2">
            <%= image_tag("partials_img/empty_basket.png", class: "mx-auto my-auto object-contain mb-4") %>
            <div class="flex justify-around">
              <span class="text-heading-4">
                No products at the moment
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
