<div class="w-full max-w-screen-2xl mx-auto mt-24 px-7 md:px-24 text-dark-grey">
  <div class="flex flex-col md:flex-row items-start justify-between">
    <div class="w-full lg:w-1/3 md:order-1 order-2">
      <div class="flex items-center -ml-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
        </svg>
        <%= link_to "Back to shop", products_path, class: "block ml-2 font-base font-medium text-gray-800" %>
      </div>
      <div class="mt-6">
        <%= form_with(url: cart_add_product_path) do |f| %>
          <div class="block md:flex md:justify-between items-end font-medium text-gray-800">
            <div>
              <p class="text-base font-normal text-metalic-grey">
                <%= @product.product_category.name %>
              </p>
              <h4 class="text-2xl pt-1 capitalize">
                <%= @product.name %>
              </h4>
            </div>
            <p class="text-3xl">
              ₴ <%= @product.price %>
            </p>
          </div>
          <div class="w-full h-px bg-zinc-400 my-3"></div>
          <div class="mt-1">
            <% if @product.primary_product_option.present? %>
              <p class="text-base metalic-grey">
                Color
              </p>
              <div class="w-full lg:w-4/6 flex justify-between items-center mt-3 space-x-4">
                <% @product.product_colors.each do |option| %>
                  <div class="">
                    <input type="radio" class="w-8 h-8 rounded-full appearance-none bg-none checked:ring-1 ring-offset-2 ring-gray-400" style="border: none;<%= "background-color: #{option.option_value.value}"%>"/>
                    <label><%= option.option_value.value %></label>
                  </div>
                <% end %>
              </div>
            <% end %>

            <p class="text-base mt-6 metalic-grey">
              Quantity
            </p>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.number_field :quantity, value: 0, min: 1 %>

            <% if @product.secondary_product_option.present? %>
              <p class="text-base mt-4 metalic-grey">
                Size
              </p>
              <%= f.select :option_value_id,
                size_option_value_for_select,
                { include_blank: false },
                { multiple: false, class: "w-full rounded mt-1" }
              %>
            <% end %>
            <%= f.submit "Add to basket", class: "mt-8 w-full button" %>
          </div>
        <% end %>
        
        <div data-controller="accordion" class="font-base text-gray-800 mt-6">
          <div>
            <div data-action="click->accordion#toggle" data-accordion-target="accTitle" id="acc_btn" data-id="acc_btn1" data-active="false" class="acc_title flex justify-between items-center cursor-pointer">
              <p class="font-medium pt-5 pb-3 text-dark-grey">
                Description
              </p>
              <div data-accordion-target="accordionIcon" class="mt-3"></div>
            </div>
            <div class="hidden pt-3 text-dark-blue">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in est pharetra, accumsan quam in, ornare ante. Integer volutpat ipsum ut consectetur aliquam. Donec sit amet efficitur metus, vitae hendrerit justo. Vivamus dapibus nunc id egestas posuere. Nulla gravida lorem sit amet varius tincidunt. Fusce elementum purus orci, sed dictum erat efficitur eget. Vestibulum quis elementum est.</p>
            </div>
            <div class="w-full h-px bg-zinc mt-3"></div>
          </div>
          <div>
            <div data-action="click->accordion#toggle" data-accordion-target="accTitle" id="acc_btn" data-id="acc_btn2" data-active="false" class="acc_title flex justify-between items-center cursor-pointer">
              <p class="font-medium pt-5 pb-3 text-dark-grey">
                Characteristics
              </p>
              <div data-accordion-target="accordionIcon" class="mt-3"></div>
            </div>
            <a class="hidden pt-3 text-dark-blue">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in est pharetra, accumsan quam in, ornare ante. Integer volutpat ipsum ut consectetur aliquam. Donec sit amet efficitur metus, vitae hendrerit justo. Vivamus dapibus nunc id egestas posuere. Nulla gravida lorem sit amet varius tincidunt. Fusce elementum purus orci, sed dictum erat efficitur eget. Vestibulum quis elementum est.</p>
            </a>
            <div class="w-full h-px bg-zinc mt-3"></div>
          </div>
          <div>
            <div data-action="click->accordion#toggle" data-accordion-target="accTitle" id="acc_btn" data-id="acc_btn3" data-active="false" class="acc_title flex justify-between items-center cursor-pointer">
              <p class="font-medium pt-5 pb-3 text-dark-grey">
                Delivery and returns
              </p>
              <div data-accordion-target="accordionIcon" class="mt-3"></div>
            </div>
            <a class="hidden pt-3 text-dark-blue">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in est pharetra, accumsan quam in, ornare ante. Integer volutpat ipsum ut consectetur aliquam. Donec sit amet efficitur metus, vitae hendrerit justo. Vivamus dapibus nunc id egestas posuere. Nulla gravida lorem sit amet varius tincidunt. Fusce elementum purus orci, sed dictum erat efficitur eget. Vestibulum quis elementum est.</p>
            </a>
            <div class="w-full h-px bg-zinc mt-3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex justify-center items-center md:order-2 order-1">
      <div class="w-2/3">
        <%= image_tag(@product.main_picture) %>
      </div>
    </div>
  </div>
</div>
<div class="w-full max-w-screen-2xl lg:mx-auto pb-14 pl-7 mt-24 md:pl-24 overflow-hidden">
  <h4 class="text-2xl text-gray-800 mb-7 font-medium normal-case">Other products</h4>
  <div class="relative w-full overflow-x-auto pb-5">
    <div class="w-[110rem] pr-12 flex justify-between items-center">
      <% @suggest_products.each do |product| %>
        <%= render partial: "suggest_products", locals: { product: product } %>
      <% end %>
    </div>
  </div>
</div>
