<!DOCTYPE html>
<html>
  <head>
    <title>StormEsbuild</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-light-grey">
    <%= render 'shared/header' %>
    <div class="content w-full max-w-screen-2xl mx-auto mt-16 px-7 lg:px-24">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
