<!DOCTYPE html>
<html>
  <head>
    <title>3D Storm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

      <%= google_analytics_head_script %>
      <%= google_analytics_tag_head_script %>
      <%= favicon_link_tag asset_path('partials_img/favicon.png') %>

      <!-- Google tag (gtag.js) -->
      <script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-QMC1QVF8BG"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-QMC1QVF8BG');
      </script>
      

      <script>
        function loadGSI() {
          const googleGSIClientElement = document.createElement('div');
          googleGSIClientElement.setAttribute('id', 'g_id_onload');
          googleGSIClientElement.setAttribute('data-client_id', '<%= Rails.application.credentials.dig(:google, :google_oauth_client_id) %>');
          googleGSIClientElement.setAttribute('data-login_uri', '/users/auth/google_oauth2');
          
          const meta = document.querySelector('meta[name="csrf-token"]');
          const freshToken = meta ? meta.content : '';
          googleGSIClientElement.setAttribute('data-authenticity_token', freshToken);

          document.body.prepend(googleGSIClientElement);
          const googleGSIClientScript = document.createElement('script');
          googleGSIClientScript.setAttribute('src', 'https://accounts.google.com/gsi/client');
          googleGSIClientScript.setAttribute('async', 'async');
          googleGSIClientScript.setAttribute('defer', 'defer');

          document.body.appendChild(googleGSIClientScript);
        }

        loadGSI();
      </script>

      <%= render('shared/google_one_tap_login') %>
    </head>

    <body class="bg-light-grey">
      <%= google_analytics_tag_body_script %>
      <%= render 'shared/header' %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </body>
  </html>
</html>
